export(check.linux.install)
export(cor.with)
export(Dim)
export(estimate.memory)
export(exists.not.function)
export(fakeLines)
export(force.percentage)
export(force.scalar)
export(get.distinct.cols)
export(Header)
export(headl)
export(loop.tracker)
export(Mode)
export(must.use.package)
export(narm)
export(packages.loaded)
export(pad.left)
export(pctile)
export(preview)
export(prv)
export(prv.large)
export(Rfile.index)
export(rmv.spc)
export(search.cran)
export(sim.cor)
export(spc)
export(standardize)
export(Substitute)
export(summarise.r.datasets)
export(textogram)
export(timeit)
export(toheader)
export(top)
export(Unlist)
export(wait)
import(grDevices, graphics, stats, utils)
importFrom(proftools, readProfileData, flatProfile)
importFrom(tools, toHTML)
