export(check.linux.install)
export(estimate.memory)
export(get.distinct.cols)
export(Header)
export(headl)
export(loop.tracker)
export(Mode)
export(must.use.package)
export(narm)
export(pad.left)
export(pctile)
export(Rfile.index)
export(rmv.spc)
export(search.cran)
export(spc)
export(standardize)
export(textogram)
export(timeit)
export(toheader)
export(Unlist)
export(wait)
